@import '../styles/themes';
.input-field{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $border-color;
    width: 91%;
    font-size: 16px;
}
.secondary-btn{
    width: 100%;
    border: 2px solid $primary-color;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    background-color: transparent;
    font-size: 16px;
    color: $primary-color;
    font-weight: 500;
    margin-top: 20px;
}
.submitBtn{
    background-color: $primary-color;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    color: $secondary-color;
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    .ctn-txt{
        margin-top: 3px;
        margin-right: 10px
    }
}
.w-100{
    width: 100%;
}
.sign-up-parent{
    .errorMessage{
        margin-top: 10px;
        font-size: 12px;
        color: red;
        margin-bottom: 25px;
    }
    
    
    .alternate-login{
        margin-top: 30px;
        .social-btn-section{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            
            .whatsapp{
                border: 1px solid #1CD741;
                color: #1CD741;
            }
            .google{
                border: 1px solid #0086f8;
                color: #0086f8;
            }
            button{
                display: flex;
                cursor: pointer;
                justify-content: center;
                border-radius: 5px;
                padding: 8px 15px;
                background: none;
                font-size: 16px;
                width: 200px;
                .social-name{
                    margin: 5px;
                }
                svg{
                    height: 25px;
                    margin-right: 10px;
                }
            }
            
        }
        .terms-cond{
            margin-top: 20px;
            a{
                text-decoration: none;
                color: #0086f8;
                
                font-weight: 600;
            }
        }
    }
}

.otp-form{
    .back-button{
        text-decoration: none;
        color: grey;
        // font-size: 26px;
        display: flex;
    }
    .otp-intimation{
        margin-bottom: 20px;
    }
    .sign-out{
        margin-top: 2px;
        margin-left: 10px;
    }
}
.listing-parent{
    .back-button{
        text-decoration: none;
        color: $primary-color;
        display: flex;
        margin-top: 20px;
        .sign-out{
            margin-top: 2px;
            margin-left: 10px;
        }
    }
    .mob-listing-section{
        border-collapse: collapse;
        width: 100%;
        th, td {
            text-align: left;
            padding: 8px;
          }
          
        // tr:nth-child(even) {
        //     background-color: #f2f2f2;
        // }
        tbody{
            tr{
                border-bottom: 2px solid $primary-color;
            }
            tr:last-of-type {
                border-bottom: none;
            }
            color: $primary-color;
        }
        
        th{
            text-align: center;
            padding-bottom: 20px;
            font-weight: 600;
            color: $primary-color;
        }
        .editBtn{
            background-color: transparent;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            outline: none;
            border: none;
            // color: $secondary-color;
            font-size: 16px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            border: none;
            color: $primary-color;
        }
        .deleteBtn{
            width: 100%;
            // border: 2px solid $primary-color;
            border-radius: 5px;
            outline: none;
            padding: 10px;
            background-color: transparent;
            font-size: 16px;
            color: $primary-color;
            font-weight: 500;
            margin-left: 10px;
            cursor: pointer;
            border: none;
        }
        .saveBtn{
            background-color: $primary-color;
            border-radius: 5px;
            width: 40%;
            padding: 12px;
            outline: none;
            border: none;
            color: $secondary-color;
            font-size: 16px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        .action-btn-section{
            display: flex;
        }
    }
}
.not_found_section{
    text-align: center;
    .no_txt{
        margin: 20px;
    }
    .later{
        margin-top: 15px;
        color: grey;
    }
    
    .big{
        font-size: 40px;
    }
    .small{
        font-size: 20px;
    }
    .back-button{
        text-decoration: none;
        color: $primary-color;
        display: flex;
        .sign-out{
            margin-top: 2px;
            margin-left: 10px;
        }
    }
}
